{% extends 'home-pages/department_header.html' %}
{% block content %}
{% load static %}

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="stat-widget-two card-body">
                                <div class="stat-content">
                                    <a href="{% url 'department_view_pending_restaurant' %}">
                                    <div class="stat-text">Verify </div>
                                    <div class="stat-digit"></i>New Restaurants</div>
                                    </a>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="stat-widget-two card-body">
                                <div class="stat-content">
                                    <a href="{% url 'announcements' %}">
                                    <div class="stat-text">Sent</div>
                                    <div class="stat-digit"></i> Announcements</div>
                                    </a>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary w-100" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="stat-widget-two card-body">
                                <div class="stat-content">
                                    <a href="{% url 'view_certificate_applications' %}">
                                    <div class="stat-text">View Certificate</div>
                                    <div class="stat-digit"> </i> Applications</div>
                                    </a>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning w-100" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="stat-widget-two card-body">
                                <div class="stat-content">
                                    <a href="{% url 'department_view_user_reports' %}">
                                    <div class="stat-text">User</div>
                                    <div class="stat-digit"> </i>Alerts</div>
                                    </a>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger w-100" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <!-- /# card -->
                    </div>
                    <!-- /# column -->
                </div>
                

            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        {% endblock %}