{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title> Food Safety Department Dashboard </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'admin/images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'admin/vendor/owl-carousel/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/vendor/owl-carousel/css/owl.theme.default.min.css' %}">
    <link href="{% static 'admin/vendor/jqvmap/css/jqvmap.min.css' %}" rel="stylesheet">
    <link href="{% static 'admin/css/style.css' %}" rel="stylesheet">



</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="{% url 'department_home' %}" class="brand-logo">
                <h2 style="color: white;">Department</h2>
                <!-- <img class="logo-abbr" src="{% static 'admin/images/logo.png' %}" alt=""> -->
                <!-- <img class="logo-compact" src="{% static 'admin/images/logo-text.png' %}" alt=""> -->
                <!-- <img class="brand-title" src="{% static 'admin/images/logo-text.png' %}" alt=""> -->
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            <div class="search_bar dropdown">
                                <span class="search_icon p-3 c-pointer" data-toggle="dropdown">
                                    <i class="mdi mdi-magnify"></i>
                                </span>
                                <div class="dropdown-menu p-0 m-0">
                                    <form>
                                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                                    </form>
                                </div>
                            </div>
                        </div>

                        <ul class="navbar-nav header-right">
                            
                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <i class="mdi mdi-account"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="{% url 'logout_view' %}" class="dropdown-item">
                                        <i class="icon-key"></i>
                                        <span class="ml-2">Logout </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div> 
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label first">Main Menu</li>
                    <li><a href="{% url 'department_home' %}" aria-expanded="false"><i
                                class="icon icon-single-04"></i><span class="nav-text">Dashboard</span></a>
                      
                    </li>
                    <!-- <li class="nav-label">Apps</li> -->
                    <li><a class="has-arrow" href="{% static 'admin/javascript:void()' %}" aria-expanded="false"><i
                                class="icon icon-app-store"></i><span class="nav-text">Manage Users</span></a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'admin_staff_view' %}" aria-expanded="false">Staffs</a>
                            </li>
                            <li><a href="{% url 'admin_user_view' %}">Users</a></li>
                        </ul>
                    </li>
                    <li><a class="has-arrow" href="{% static 'admin/javascript:void()' %}" aria-expanded="false"><i
                        class="icon icon-chart-bar-33"></i><span class="nav-text">Restaurants</span></a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'admin_view_pending_restaurant' %}">Pending</a></li>
                            <li><a href="{% url 'admin_restaurant_view' %}">Apprroved</a></li>
                            <li><a href="{% url 'admin_view_freezed_restaurants' %}">Freezed</a></li>
                        </ul>
                    </li>
                    <!-- <li class="nav-label">Components</li> -->
                    <li><a href="{% url 'view_announcements' %}" aria-expanded="false"><i
                                class="icon icon-world-2"></i><span class="nav-text">Announcements</span></a>
                    </li>

                    
            </div>


        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->
            {% block content %}


            {% endblock %}


         <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="#" target="_blank">Quixkit</a> 2019</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="{% static 'admin/vendor/global/global.min.js' %}"></script>
    <script src="{% static 'admin/js/quixnav-init.js' %}"></script>
    <script src="{% static 'admin/js/custom.min.js' %}"></script>


    <!-- Vectormap -->
    <script src="{% static 'admin/vendor/raphael/raphael.min.js' %}"></script>
    <script src="{% static 'admin/vendor/morris/morris.min.js' %}"></script>


    <script src="{% static 'admin/vendor/circle-progress/circle-progress.min.js' %}"></script>
    <script src="{% static 'admin/vendor/chart.js/Chart.bundle.min.js' %}"></script>

    <script src="{% static 'admin/vendor/gaugeJS/dist/gauge.min.js' %}"></script>

    <!--  flot-chart js -->
    <script src="{% static 'admin/vendor/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'admin/vendor/flot/jquery.flot.resize.js' %}"></script>

    <!-- Owl Carousel -->
    <script src="{% static 'admin/vendor/owl-carousel/js/owl.carousel.min.js' %}"></script>

    <!-- Counter Up -->
    <script src="{% static 'admin/vendor/jqvmap/js/jquery.vmap.min.js' %}"></script>
    <script src="{% static 'admin/vendor/jqvmap/js/jquery.vmap.usa.js' %}"></script>
    <script src="{% static 'admin/vendor/jquery.counterup/jquery.counterup.min.js' %}"></script>


    <script src="{% static 'admin/js/dashboard/dashboard-1.js' %}"></script>

</body>

</html>