{% extends 'home-pages/restaurant_header.html' %}

{% load static %}
{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8">
          <h1>Hi <span>{{details.name}}</span></h1>
          <!-- <h2>Delivering great food for more than 18 years!</h2> -->

          <div class="btns">
            <a href="{% url 'restaurant_order_view' %}" class="btn-menu animated fadeInUp scrollto">View Orders</a>
            <a href="{% url 'restaurant_reservation_view' %}" class="btn-book animated fadeInUp scrollto">View Reservations</a>
          </div>
        </div>
        <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in" data-aos-delay="200">
          <a href="https://www.youtube.com/watch?v=GlrxcuEDyF8" class="glightbox play-btn"></a>
        </div>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <div class="about-img">
              <img src="{% static 'users/assets/img/about.jpg' %}" alt="">
            </div>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>{{details.about}}</h3>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    
 {% endblock %}