{% extends 'staff_header.html' %}
{% load static %}
{% block content %}

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="stat-widget-two card-body">
                                <div class="stat-content"><a href="{% url 'staff_reservation_view' %}">
                                    <div class="stat-text">Today's</div>
                                    <div class="stat-digit"></i>RESERVATIONS</div></a>
                                </div>
                                <!-- <div class="progress">
                                    <div class="progress-bar progress-bar-primary w-75" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="stat-widget-two card-body">
                                <div class="stat-content"><a href="{% url 'staff_order_view' %}">
                                    <div class="stat-text">Today's</div>
                                    <div class="stat-digit">ORDERS</div></a>
                                </div>
                                <!-- <div class="progress">
                                    <div class="progress-bar progress-bar-primary w-75" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="stat-widget-two card-body">
                                <div class="stat-content"><a href="{% url 'staff_restaurant_chat' %}">
                                    <div class="stat-text">View</div>   
                                    <div class="stat-digit"> </i> Messages</div></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- /# column -->
                </div>

                
                <div class="row">
                    <div class="col-lg-6 col-xl-9 col-xxl-6 col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Have a great day</h4>
                            </div>
                            <div class="card-body">
                                <div class="widget-timeline">
                                    <ul class="timeline">
                                        <li>
                                            <div class="timeline-badge primary"></div>
                                            <a class="timeline-panel text-muted" href="#">
                                                <h6 class="m-t-5">Behind every satisfied guest is a team that served with heart. Your passion, your hustle, your smile—it all matters. Keep serving excellence, one plate at a time.</h6>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                </div>

            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


               {% endblock %}