{% extends 'admin-account-view/admin_header.html' %}
{% load static %}
{% block content %}
<style>
    .custom-datatable th, 
    .custom-datatable td {
        padding: 12px !important;
        vertical-align: middle !important;
        color: #000 !important;
    }
    
    .custom-datatable {
        width: 100%;
        border-collapse: separate !important;
        border-spacing: 0 10px !important;
        background-color: white;
    }
    </style>
    

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>Hi, welcome back!</h4>
                            <span class="ml-1">Datatable</span>
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        
                    </div>
                </div>
                <!-- row -->


                <table id="example" class="display custom-datatable" style="min-width: 845px;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Contact</th>
                            <th>Gender</th>
                            <th>Age</th>
                            <th>Restaurant Name</th>
                            <th>Remove Staff</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in a %}
                        <tr>
                            <td>{{ data.name }}</td>
                            <td>{{ data.contact }}</td>
                            <td>{{ data.gender }}</td>
                            <td>{{ data.age }}</td>
                            <td>{{ data.restaurant_name }}</td>
                            <td><a href="{% url 'admin_remove_staff' data.id %}"><img src="{% static 'delete_icon.png' %}" height="25px"></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
                   
{% endblock %}

