{% extends 'admin-account-view/admin_header.html' %}
{% block content %}
{% load static %}

        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>Hi, welcome back!</h4>
                            <span class="ml-1">Datatable</span>
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% static 'admin/javascript:void(0)' %}">Table</a></li>
                            <li class="breadcrumb-item active"><a href="{% static 'admin/javascript:void(0)' %}">Datatable</a></li>
                        </ol>
                    </div>
                </div>
                <!-- row -->


                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Basic Datatable</h4>
                            </div>
                            <div class="card-body">
                                <div style="color: black;" class="table-responsive">
                                    <table id="example" class="display" style="min-width: 845px;" cellspacing="10">
                                        <thead>
                                            <tr>
                                                <th>User</th>
                                                <th>User Email</th>
                                                <th>Restaurant</th>
                                                <th>Restaurant Email</th>
                                                <th>Text</th>
                                                <th>Actions</th>
                                            </tr>
                                            {% for a in data %}
                                        </thead>
                                        <tbody>
                                        <tr style="height: 20px;">
                                            <td>{{a.user_id.name}}</td>
                                            <td>{{a.user_id.login_id.email}}</td>
                                            <td>{{a.restuarant_id.name}}</td>
                                            <td>{{a.restuarant_id.login_id.email}}</td>
                                            <td>{{a.text}}</td>
                                            <td><button class="btn btn-success"> <a href='../admin_freeze_restaurant/{{a.restuarant_id.id}}' style="color: white;">Freeze Restaurant  </a></button></td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                   
        <!--**********************************
            Footer start
        ***********************************-->
        {% endblock %}