{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Focus - Bootstrap Admin Dashboard </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'admin/images/favicon.png' %}">

    <link href="{% static 'admin/vendor/fullcalendar/css/fullcalendar.min.css' %}" rel="stylesheet">
    <link href="{% static 'admin/css/style.css' %}" rel="stylesheet">

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="{% static 'admin/index.html' %}" class="brand-logo">
                <img class="logo-abbr" src="{% static 'admin/images/logo.png' %}" alt="">
                <img class="logo-compact" src="{% static 'admin/images/logo-text.png' %}" alt="">
                <img class="brand-title" src="{% static 'admin/images/logo-text.png' %}" alt="">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->


        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label first">Main Menu</li>
                    <li><a href="{% url 'staff_home' %}" aria-expanded="false"><i
                                class="icon icon-single-04"></i><span class="nav-text">Dashboard</span></a>
                      
                    </li>
                    <!-- <li class="nav-label">Apps</li> -->
                    <li><a href="{% url 'staff_profile' %}" aria-expanded="false"><i
                                class="icon icon-app-store"></i><span class="nav-text">Profile</span></a>
                        
                    </li>
                    <li><a class="has-arrow" href="{% static 'admin/javascript:void()' %}" aria-expanded="false"><i
                                class="icon icon-chart-bar-33"></i><span class="nav-text">Restaurant</span></a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'add_dish' %}">Add Dishes</a></li>
                            <li><a href="{% url 'staff_home' %}">Add Menu</a></li>
                            <li><a href="{% url 'staff_dish_view' %}">View Dishes</a></li>
                        </ul>
                    </li>
                    <li class="nav-label">Components</li>
                    <li><a class="has-arrow" href="{% static 'admin/javascript:void()' %}" aria-expanded="false"><i
                                class="icon icon-world-2"></i><span class="nav-text">Bootstrap</span></a>
                        <ul aria-expanded="false">
                            <li><a href="{% static 'admin/ui-accordion.html' %}">Accordion</a></li>
                            <li><a href="{% static 'admin/ui-alert.html' %}">Alert</a></li>
                            <li><a href="{% static 'admin/ui-badge.html' %}">Badge</a></li>
                            <li><a href="{% static 'admin/ui-button.html' %}">Button</a></li>
                            <li><a href="{% static 'admin/ui-modal.html' %}">Modal</a></li>
                            <li><a href="{% static 'admin/ui-button-group.html' %}">Button Group</a></li>
                            <li><a href="{% static 'admin/ui-list-group.html' %}">List Group</a></li>
                            <li><a href="{% static 'admin/ui-media-object.html' %}">Media Object</a></li>
                            <li><a href="{% static 'admin/ui-card.html' %}">Cards</a></li>
                            <li><a href="{% static 'admin/ui-carousel.html' %}">Carousel</a></li>
                            <li><a href="{% static 'admin/ui-dropdown.html' %}">Dropdown</a></li>
                            <li><a href="{% static 'admin/ui-popover.html' %}">Popover</a></li>
                            <li><a href="{% static 'admin/ui-progressbar.html' %}">Progressbar</a></li>
                            <li><a href="{% static 'admin/ui-tab.html' %}">Tab</a></li>
                            <li><a href="{% static 'admin/ui-typography.html' %}">Typography</a></li>
                            <li><a href="{% static 'admin/ui-pagination.html' %}">Pagination</a></li>
                            <li><a href="{% static 'admin/ui-grid.html' %}">Grid</a></li>

                        </ul>
                    </li>

                    <li><a class="has-arrow" href="{% static 'admin/javascript:void()' %}" aria-expanded="false"><i
                                class="icon icon-plug"></i><span class="nav-text">Plugins</span></a>
                        <ul aria-expanded="false">
                            <li><a href="{% static 'admin/uc-select2.html' %}">Select 2</a></li>
                            <li><a href="{% static 'admin/uc-nestable.html' %}">Nestedable</a></li>
                            <li><a href="{% static 'admin/uc-noui-slider.html' %}">Noui Slider</a></li>
                            <li><a href="{% static 'admin/uc-sweetalert.html' %}">Sweet Alert</a></li>
                            <li><a href="{% static 'admin/uc-toastr.html' %}">Toastr</a></li>
                            <li><a href="{% static 'admin/map-jqvmap.html' %}">Jqv Map</a></li>
                        </ul>
                    </li>
                    <li><a href="{% static 'admin/widget-basic.html' %}" aria-expanded="false"><i class="icon icon-globe-2"></i><span
                                class="nav-text">Widget</span></a></li>
                    <li class="nav-label">Forms</li>
                    <li><a class="has-arrow" href="{% static 'admin/javascript:void()' %}" aria-expanded="false"><i
                                class="icon icon-form"></i><span class="nav-text">Forms</span></a>
                        <ul aria-expanded="false">
                            <li><a href="{% static 'admin/form-element.html' %}">Form Elements</a></li>
                            <li><a href="{% static 'admin/form-wizard.html' %}">Wizard</a></li>
                            <li><a href="{% static 'admin/form-editor-summernote.html' %}">Summernote</a></li>
                            <li><a href="{% static 'admin/form-pickers.html' %}">Pickers</a></li>
                            <li><a href="{% static 'admin/form-validation-jquery.html' %}">Jquery Validate</a></li>
                        </ul>
                    </li>
                    <li class="nav-label">Table</li>
                    <li><a class="has-arrow" href="{% static 'admin/javascript:void()' %}" aria-expanded="false"><i
                                class="icon icon-layout-25"></i><span class="nav-text">Table</span></a>
                        <ul aria-expanded="false">
                            <li><a href="{% static 'admin/table-bootstrap-basic.html' %}">Bootstrap</a></li>
                            <li><a href="{% static 'admin/table-datatable-basic.html' %}">Datatable</a></li>
                        </ul>
                    </li>

                    <li class="nav-label">Extra</li>
                    <li><a class="has-arrow" href="{% static 'admin/javascript:void()' %}" aria-expanded="false"><i
                                class="icon icon-single-copy-06"></i><span class="nav-text">Pages</span></a>
                        <ul aria-expanded="false">
                            <li><a href="{% static 'admin/page-register.html' %}">Register</a></li>
                            <li><a href="{% static 'admin/page-login.html' %}">Login</a></li>
                            <li><a class="has-arrow" href="{% static 'admin/javascript:void()' %}" aria-expanded="false">Error</a>
                                <ul aria-expanded="false">
                                    <li><a href="{% static 'admin/page-error-400.html' %}">Error 400</a></li>
                                    <li><a href="{% static 'admin/page-error-403.html' %}">Error 403</a></li>
                                    <li><a href="{% static 'admin/page-error-404.html' %}">Error 404</a></li>
                                    <li><a href="{% static 'admin/page-error-500.html' %}">Error 500</a></li>
                                    <li><a href="{% static 'admin/page-error-503.html' %}">Error 503</a></li>
                                </ul>
                            </li>
                            <li><a href="{% static 'admin/page-lock-screen.html' %}">Lock Screen</a></li>
                        </ul>
                    </li>
                </ul>
            </div>


        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>Hi, welcome back!</h4>
                            <p class="mb-1">Validation</p>
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Form</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">Validation</a></li>
                        </ol>
                    </div>
                </div>
                <!-- row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Edit Dish</h4>
                            </div>
                            
                            <div class="card-body">
                                <div class="form-validation">
                                    <form class="form-valide" action="#" method="post">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-xl-6">
                                                {{dishes.as_p}}
                                                <div class="form-group row">
                                                    <div class="col-lg-8 ml-auto">
                                                        <button type="submit" class="btn btn-primary">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                                
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>

        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="#" target="_blank">Quixkit</a> 2019</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

        


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="{% static 'admin/vendor/global/global.min.js' %}"></script>
    <script src="{% static 'admin/js/quixnav-init.js' %}"></script>
    <script src="{% static 'admin/js/custom.min.js' %}"></script>
    <!--removeIf(production)-->
    <!-- Demo scripts -->
    <script src="{% static 'admin/js/styleSwitcher.js' %}"></script>



    <script src="{% static 'admin/vendor/jqueryui/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'admin/vendor/moment/moment.min.js' %}"></script>

    <script src="{% static 'admin/vendor/fullcalendar/js/fullcalendar.min.js' %}"></script>
    <script src="{% static 'admin/js/plugins-init/fullcalendar-init.js' %}"></script>

</body>

</html>