
{% extends 'home-pages/restaurant_header.html' %}
{% block content %}
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> -->
<style>
    body{
        margin: 0;
        margin-top: 150px;
        background-image: url(static/bg.jpg);
        background-size: cover;
        padding: 0;

    }
    .card{
        animation: fadeSlideIn 1s ease-out;
    }
    @keyframes fadeSlideIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

    
</style>
<body>
    <center>
        {% for a in staffs %}

        <div class="card" style="width: 18rem;height: auto;">
            <!-- <img src= "/media/{{a.image}}" class="card-img-top" alt="image-not-found" > -->
            <div class="card-body">
            <h5 class="card-title" style="color: black;">{{a.name}}</h5>
            <p class="card-text" style="color: black;">{{a.contact}}</p>
            <p class="card-text" style="color: black;">{{a.email}}</p>
            <p class="card-text" style="color: black;">{{a.gender}}</p>
            <a href="phoneto:{{a.contact}}" class="btn btn-primary">Contact</a>
            </div>
        </div>
        <hr>

        {% endfor %}
    </center>
</body>
</html>
{% endblock %}