{% extends 'staff_header.html' %}
{% block content %}

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="row">
                    {% for a in dishes %}
                        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                            <div class="card h-100">
                                <div class="card-body text-center">
                                    <h4 class="card-title">{{ a.dish_name }}</h4>
                                    <img src="/media/{{ a.image }}" height="150px" width="100%" style="object-fit: cover; border-radius: 8px;" class="mb-3">
                                    <h5 class="text-success">₹{{ a.price }}</h5>
                                    <a href="{% url 'menu_item_remove' a.id %}" class="btn btn-danger btn-block mt-2">Remove</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <!--**********************************
            Content body end
        ***********************************-->


        {% endblock %}